<!DOCTYPE html>
<html>

<head>
    <script src='/socket.io/socket.io.js'></script>
    <script>
        let isConnected = false
        //서버접속
        const socket = io.connect('http://localhost:3000')
        //접속 완료 이벤트 받기
        socket.on('connect', (err) => {
            console.log('접속완료', typeof(err))
            //err가 undefined이면 isConnected 참이다
            if( typeof err === 'undefined'){
                console.log('접속 성공')
                isConnected = true
                //이벤트 발생 -> 계좌 목록을 보내달라
                socket.emit('s_send_allAccounts')
            }
        })
        // 계좌 리스트 받아오기, 데이터가 한덩어리로 들어온다
        socket.on('c_send_allAccounts', ( accounts )=>{
            if(!isConnected) return //접속되지 않았는데 이벤트가 들어오면 중단
            console.log(accounts)
        })

    </script>
</head>

<body>

</body>

</html>